/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/
.button{
	padding: 8px 12px 6px 12px;
	.font( 1em, 1, 100, 'lato' ); text-align: center; text-decoration: none; color: @light; background-color: @primary;
	cursor: pointer;
	.drop-shadow;
	.transition;
}

.hamburguer--button{


	&:hover, &:active{

	}
}



/*------------------------------------*\
	#STYLES
\*------------------------------------*/
.button--hollow{
	span{
		border: 6px solid rgb(255, 255, 255);
		border: 6px solid transparent;
		border: 6px solid rgba(255, 255, 255, 0);
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	}
}

.button-ink{
	padding: 5px !important; border: none;
	color: @primary; background: none;
	-webkit-appearance: none;
}


.button__share{ padding: @unidad (@unidad/4); }
.button__share i{ font-size: 16px; }
.button__share span {
	.font(20px, 1, 100); text-overflow: ellipsis; //text-align: right;
	white-space: nowrap;
	overflow: hidden;
}




/*------------------------------------*\
	#SIZES
\*------------------------------------*/
.button--small{
	padding: 15px;
	.font( 1em, 1 );
}

.button--large{
	padding: 15px;
	.font( 1em, 1.3 ); letter-spacing: 1px;
}




/*------------------------------------*\
	#COLORES
\*------------------------------------*/
.button--hollow.button--dark{
	border-color: @dark;
	color: @dark;
	background: none;
}

.button--dark{
	background: @dark;
	color: @light;
}

.button--primary{
	background: @primary;
	color: @light;
	border: none;
	&:hover{ background-color: darken(@primary, 10%); }
}

.button--secondary{
	background: @secondary;
	color: @light;
	border: none;
	&:hover{ background-color: darken(@secondary, 10%); }
}
