/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/

/**
 * List reset
**/
.list_reset, .list_reset li { margin: 0; padding: 0; list-style: none; }


/**
 * Clear
**/
.clear { clear:both; height:1px; margin:0; padding:0; font-size: 1px; line-height: 0; }

@media ( min-width: @small ) {
	.clear--small { clear:both; height:1px; margin:0; padding:0; font-size: 1px; line-height: 0; }
}

@media ( min-width: @medium ) {
	.clear--small{ clear: none; }
	.clear--medium { clear:both; height:1px; margin:0; padding:0; font-size: 1px; line-height: 0; }
}

@media ( min-width: @large ){
	.clear--small{ clear: none; }
	.clear--medium{ clear: none; }
	.clear--large { clear:both; height:1px; margin:0; padding:0; font-size: 1px; line-height: 0; }
}


/**
 * Visibility
**/
.hidden { display: none !important; visibility: hidden !important;}
.shown{ display: block !important; }

.opacity-1{ .opacity(10, 0.1); }
.opacity-2{ .opacity(20, 0.2); }
.opacity-3{ .opacity(30, 0.3); }
.opacity-4{ .opacity(40, 0.4); }
.opacity-5{ .opacity(50, 0.5); }
.opacity-6{ .opacity(60, 0.6); }
.opacity-7{ .opacity(70, 0.7); }
.opacity-8{ .opacity(80, 0.8); }
.opacity-9{ .opacity(90, 0.9); }
.opacity-10{ .opacity(100, 1); }



/**
 * White space
**/
.no-margin{ margin: 0 !important; }

.margin-bottom{ margin-bottom: @unidad; }
.margin-bottom--small{ margin-bottom: (@unidad/2); }
.margin-bottom--large{ margin-bottom: (@unidad*2); }

.margin-top{ margin-top: @unidad; }
.margin-top--small{ margin-top: (@unidad/2); }
.margin-top--large{ margin-top: (@unidad*2); }

.margin-sides{ margin-left: @unidad; margin-right: @unidad; }
.margin-sides--small{ margin-left: (@unidad/2); margin-right: (@unidad/2); }
.margin-sides--large{ margin-left: (@unidad*2); margin-right: (@unidad*2); }

.margin-top-bottom{ margin-top: @unidad; margin-bottom: @unidad; }
.margin-top-bottom--small{ margin-top: (@unidad/2); margin-bottom: (@unidad/2); }
.margin-top-bottom--large{ margin-top: (@unidad*2); margin-bottom: (@unidad*2); }

.no-padding{ padding: 0 !important; }

.padding{ padding: @unidad; }
.padding--small{ padding: (@unidad/2); }
.padding--large{ padding: (@unidad*2); }

.padding--top{ padding-top: @unidad; }
.padding--top--small{ padding-top: (@unidad/2); }
.padding--top--large{ padding-top: (@unidad*2); }

.padding--bottom{ padding-bottom: @unidad; }
.padding--bottom--small{ padding-bottom: (@unidad/2); }
.padding--bottom--large{ padding-bottom: (@unidad*2); }

.padding--sides{ padding-left: @unidad; padding-right: @unidad; }
.padding--sides--small{ padding-left: (@unidad/2); padding-right: (@unidad/2); }
.padding--sides--large{ padding-left: (@unidad*2); padding-right: (@unidad*2); }

.gradient-border{
	padding: 0;
	span{
		border: 4px solid rgb(255, 255, 255);
		border: 4px solid transparent;
		border: 4px solid rgba(255, 255, 255, 0);
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	}
}


/**
 * Floats
**/
.center{ margin-left: auto !important; margin-right: auto !important; float: none !important; }
.pull-left{ float: left !important; }
.pull-right{ float: right !important; }


/**
 * Displays
**/
.block{ display: block !important; }
.inline-block{ display: inline-block !important; }


/**
 * Positions
**/
.relative{
	position: relative;
}

.absolute{
	position: absolute;
}


/**
 * Alignment
**/
.align-top{ vertical-align: top; }
.align-middle{ vertical-align: middle; }
.align-bottom{ vertical-align: bottom; }

.center-full{
	.center-full();
}
.center-top{
	.center-top();
}
.center-bottom{
	.center-bottom();
}

/**
 * Shadow
**/
.text-shadow{
	.text-shadow;
}

.drop-shadow{
	.drop-shadow;
}

/**
 * Text
**/

.ellipsis{
	.ellipsis;
}



/**
 * hr
**/

hr{
	width: 100%; border: 0;
	.clearfix;
}

.gradient-separator{
	height: 10px;
	background: rgba(102,178,69,.8);
	background-image: -webkit-linear-gradient(left, rgba(102,178,69,.8), rgba(126,203,239,.8));
	background-image: -o-linear-gradient(left, rgba(102,178,69,.8), rgba(126,203,239,.8));
	background-image: linear-gradient(to right, rgba(102,178,69,.8), rgba(126,203,239,.8));
}

.light-separator{
	height: 1px;
	background: @light;
}




/*------------------------------------*\
	#GRADIENTS
\*------------------------------------*/
.diagonal-green-to-blue-gradient{
	.diagonal-green-to-blue-gradient;
}

.diagonal-dark-blue-to-light-blue{
	.diagonal-dark-blue-to-light-blue;
}



/*------------------------------------*\
	#RESPONSIVE UTILITIES
\*------------------------------------*/

/**
 * RESPONSIVE IMAGES
**/
.image-responsive{
	display: block;
	width: 100%; max-width: 100%; height: auto;
}


/**
 * Responsive background images for photographies
**/

.bg-image{
	background-size: cover !important; background-position: center center;
	position: relative;
	overflow: hidden;
}

.bg-image .square{
	position: relative;
	z-index: @zIndex-2;
}


/**
 * Responsive background images for photographies
**/

.fit-padding{
	padding-bottom: 100%;
}

.main-tile{
	padding-bottom: 100%;
}

.secondary-tile{
	padding-bottom: 100%;
}


/*------------------------------------*\
	#MEDIUM
\*------------------------------------*/
@media (min-width: @medium) {

	.fit-padding{
		padding-bottom: 50%;
	}

	.main-tile{
		padding-bottom: 100%;
	}

	.secondary-tile{
		padding-bottom: 50%;
	}

}



/*------------------------------------*\
	#EXTRA-MEDIUM
\*------------------------------------*/
@media (min-width: @xmedium) {

	.fit-padding{
		padding-bottom: 50%;
	}

	.main-tile{
		padding-bottom: 50%;
	}

	.secondary-tile{
		padding-bottom: 30%;
	}

}



/*------------------------------------*\
	#LARGE
\*------------------------------------*/
@media (min-width: @large) {

	.fit-padding{
		padding-bottom: 50%;
	}

	.main-tile{
		padding-bottom: 40%;
	}

	.secondary-tile{
		padding-bottom: 30%;
	}

}



